@font-face {
  font-family: 'amatic_scregular';
  src: url('./fonts/amaticsc-regular-webfont.woff2') format('woff2'),
  url('./fonts/amaticsc-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'amatic_scbold';
  src: url('./fonts/amaticsc-bold-webfont.woff2') format('woff2'),
  url('./fonts/amaticsc-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'muliregular';
  src: url('./fonts/muli-regular-webfont.woff2') format('woff2'),
  url('./fonts/muli-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mulibold';
  src: url('./fonts/muli-bold-webfont.woff2') format('woff2'),
  url('./fonts/muli-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*$breakpoint-mobile-landscape: 'only screen and (min-width: 480px)';
$breakpoint-tablet-portrait: 'only screen and (min-width: 600px)';
$breakpoint-tablet-landscape: 'only screen and (min-width: 800px)';
$breakpoint-desktop-small: 'only screen and (min-width: 1024px)';
$breakpoint-desktop-large: 'only screen and (min-width: 1600px)';
$breakpoint-desktop-xlarge: 'only screen and (min-width: 2160px)';
@media (min-width: 420px) {

}*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 100vh;

  font-size: 12px;
}
@media only screen and (min-width: 600px) {
  body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1600px) {
  body {
    font-size: 16px;
  }
}

a,
button {
  cursor: pointer;
}

*:focus {
  outline: none;
}

.pageRoot {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
