.loadingContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.enableJS {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
